#!/usr/bin/env zsh

# Make vim the default editor.
export EDITOR='nvim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;


# Set java options
export JAVA_OPTS=-Dstringchararrayaccessor.disabled=true


# Android home options
export ANDROID_HOME="~/.sdkman/candidates/android/sdk"

# Set AWS profile
export AWS_DEFAULT_PROFILE=sandbox
export AWS_PROFILE=sandbox

# Export homebrew ruby
export LDFLAGS="${LDFLAGS} -L/usr/local/opt/ruby/lib"
export CPPFLAGS="${LDFLAGS} -I/usr/local/opt/ruby/include"

# Export python libraries
# export SYSTEM_VERSION_COMPAT=1
# export LDFLAGS="${LDFLAGS} -L/usr/local/opt/zlib/lib"
# export CPPFLAGS="${CPPFLAGS} -I/usr/local/opt/zlib/include"
# export LDFLAGS="${LDFLAGS} -L/usr/local/opt/sqlite/lib"
# export CPPFLAGS="${CPPFLAGS} -I/usr/local/opt/sqlite/include"
# export LDFLAGS="${LDFLAGS} -L/usr/local/opt/zlib/lib"
# export CPPFLAGS="${LDFLAGS} -I/usr/local/opt/zlib/include"
# export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"
# export PKG_CONFIG_PATH="${PKG_CONFIG_PATH} /usr/local/opt/zlib/lib/pkgconfig"
# export PKG_CONFIG_PATH="${PKG_CONFIG_PATH} /usr/local/opt/sqlite/lib/pkgconfig"
